@import url("https://fonts.googleapis.com/css?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");

html,
body {
  font-family: "Comfortaa";
  margin: 0;
  padding: 0;
}

main {
  margin-left: 2vh;
  margin-right: 2vh;
}

h1,
h2,
h3,
p,
li,
th,
td {
  margin: 2vh;
  text-align: left;
  color: rgb(55, 67, 80);
}

p,
li,
th,
td {
  font-size: 2vh;
  line-height: 3.5vh;
}
.panel h3,
.panel p {
  text-align: center;
  line-height: 2.8vh;
}

.choice p {
  color: lightgrey;
}

#orange {
  color: rgb(255, 133, 2);
  font-weight: bolder;
  text-transform: uppercase;
}

.panel h3 {
  color: white;
}

h3 {
  font-size: 2.8vh;
  font-weight: 900;
  color: rgb(255, 133, 2);
}

h1 {
  font-family: "Krona One";
  letter-spacing: 0.5vw;
  color: antiquewhite;
  padding-top: 20vh;
  text-align: left;
  margin: 0;
  padding-left: 3vw;
}
.logo {
  margin: 2vw;
  width: 15vh;
}

.logobig {
  margin-left: 14%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.logobig:hover {
  padding-left: 1.5px;
}

.logo:hover {
  padding-left: 1.5px;
}

.nav {
  background-color: rgb(74, 112, 139);
  max-height: 8vh;
  width: 100vw;
  transform: translateZ(1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 8vh;
}

.nav li {
  display: inline-block;
  margin: 2vw;
}

.nav li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgb(255, 133, 2);
}

.nav li a:active {
  color: darkgray;
}

header {
  background-image: url(../img/header_pic.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.intro h3 {
  margin-top: 5vh;
}
.panel {
  height: 35vh;
  width: 98vw;
  background-color: rgb(74, 112, 139);
  position: relative;
}

.panel * {
  box-sizing: border-box;
}

.choice {
  width: 50%;
  height: 35vh;
  border: 10px white solid;
  position: absolute;
}

.panel div:nth-child(1) {
  left: 0;
}

.panel div:nth-child(2) {
  right: 0;
}

.choice a {
  position: absolute;
  top: 60%;
  left: 30%;
}
.button {
  color: white;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(255, 133, 2);
  display: inline-block;
  margin: 0 auto;
  width: 15vw;
  font-family: "comfortaa";
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
  text-align: center;
  box-shadow: 3px 3px 6px black;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  color: black;
}

table {
  width: 90%;
  text-align: left;
  margin-left: 2vw;
}
tr th {
  font-weight: bolder;
  font-size: larger;
}

.picture_page1 {
  background-image: url(../img/pic2.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.picture_page2 {
  background-image: url(../img/pic2.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.picture_page3 {
  background-image: url(../img/pic3.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.picture_page4 {
  background-image: url(../img/pic4.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.picture_page5 {
  background-image: url(../img/pic5.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.picture_page6 {
  background-image: url(../img/pic6.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

footer {
  position: relative;
  bottom: 0;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  margin-top: 10vh;
}

.space {
  height: 50vh;
}

/*Css für Akkordeon allg*/

td {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 1px 1px 10px;
  margin: 0px 0px 10px;
  max-width: 20vw;
  height: 20vh;
  text-align: left;
  padding-left: 2vw;
}

.show,
.hide {
  padding: 10px;
  background: rgb(254, 164, 0);
  box-shadow: none !important;
  color: #fff;
  font-weight: bold;
}

.show:hover,
.hide:hover {
  background: rgb(255, 214, 118);
  color: #fff !important;
  transition: 0.2s all ease-in-out !important;
}

/*Css für Akkordeon 1*/

#akkordeon1:not(:target) .inhalt,
#akkordeon1:not(:target) .hide,
#akkordeon1:target .show {
  display: none;
}
#akkordeon1:target .inhalt {
  display: block;
}

/*Css für Akkordeon 2 */

#akkordeon2:not(:target) .inhalt,
#akkordeon2:not(:target) .hide,
#akkordeon2:target .show {
  display: none;
}
#akkordeon2:target .inhalt {
  display: block;
}

/*Css für Akkordeon 3 */

#akkordeon3:not(:target) .inhalt,
#akkordeon3:not(:target) .hide,
#akkordeon3:target .show {
  display: none;
}
#akkordeon3:target .inhalt {
  display: block;
}

#akkordeon4:not(:target) .inhalt,
#akkordeon4:not(:target) .hide,
#akkordeon4:target .show {
  display: none;
}
#akkordeon4:target .inhalt {
  display: block;
}

#akkordeon5:not(:target) .inhalt,
#akkordeon5:not(:target) .hide,
#akkordeon5:target .show {
  display: none;
}
#akkordeon5:target .inhalt {
  display: block;
}

#akkordeon6:not(:target) .inhalt,
#akkordeon6:not(:target) .hide,
#akkordeon6:target .show {
  display: none;
}
#akkordeon6:target .inhalt {
  display: block;
}

#akkordeon7:not(:target) .inhalt,
#akkordeon7:not(:target) .hide,
#akkordeon7:target .show {
  display: none;
}
#akkordeon7:target .inhalt {
  display: block;
}

#akkordeon8:not(:target) .inhalt,
#akkordeon8:not(:target) .hide,
#akkordeon8:target .show {
  display: none;
}
#akkordeon8:target .inhalt {
  display: block;
}

#akkordeon9:not(:target) .inhalt,
#akkordeon9:not(:target) .hide,
#akkordeon9:target .show {
  display: none;
}
#akkordeon9:target .inhalt {
  display: block;
}

#akkordeon10:not(:target) .inhalt,
#akkordeon10:not(:target) .hide,
#akkordeon10:target .show {
  display: none;
}
#akkordeon10:target .inhalt {
  display: block;
}

#akkordeon11:not(:target) .inhalt,
#akkordeon11:not(:target) .hide,
#akkordeon11:target .show {
  display: none;
}
#akkordeon11:target .inhalt {
  display: block;
}

#akkordeon11:not(:target) .inhalt,
#akkordeon11:not(:target) .hide,
#akkordeon11:target .show {
  display: none;
}
#akkordeon11:target .inhalt {
  display: block;
}

#akkordeon12:not(:target) .inhalt,
#akkordeon12:not(:target) .hide,
#akkordeon12:target .show {
  display: none;
}
#akkordeon12:target .inhalt {
  display: block;
}

#akkordeon13:not(:target) .inhalt,
#akkordeon13:not(:target) .hide,
#akkordeon13:target .show {
  display: none;
}
#akkordeon13:target .inhalt {
  display: block;
}

#akkordeon14:not(:target) .inhalt,
#akkordeon14:not(:target) .hide,
#akkordeon14:target .show {
  display: none;
}
#akkordeon14:target .inhalt {
  display: block;
}

#akkordeon15:not(:target) .inhalt,
#akkordeon15:not(:target) .hide,
#akkordeon15:target .show {
  display: none;
}
#akkordeon15:target .inhalt {
  display: block;
}

#akkordeon16:not(:target) .inhalt,
#akkordeon16:not(:target) .hide,
#akkordeon16:target .show {
  display: none;
}
#akkordeon16:target .inhalt {
  display: block;
}

#akkordeon17:not(:target) .inhalt,
#akkordeon17:not(:target) .hide,
#akkordeon17:target .show {
  display: none;
}
#akkordeon17:target .inhalt {
  display: block;
}

#akkordeon17b:not(:target) .inhalt,
#akkordeon17b:not(:target) .hide,
#akkordeon17b:target .show {
  display: none;
}
#akkordeon17b:target .inhalt {
  display: block;
}

#akkordeon18:not(:target) .inhalt,
#akkordeon18:not(:target) .hide,
#akkordeon18:target .show {
  display: none;
}
#akkordeon18:target .inhalt {
  display: block;
}

#akkordeon19:not(:target) .inhalt,
#akkordeon19:not(:target) .hide,
#akkordeon19:target .show {
  display: none;
}
#akkordeon19:target .inhalt {
  display: block;
}

#akkordeon20:not(:target) .inhalt,
#akkordeon20:not(:target) .hide,
#akkordeon20:target .show {
  display: none;
}
#akkordeon20:target .inhalt {
  display: block;
}

#akkordeon21:not(:target) .inhalt,
#akkordeon21:not(:target) .hide,
#akkordeon21:target .show {
  display: none;
}
#akkordeon21:target .inhalt {
  display: block;
}
