@import url("https://fonts.googleapis.com/css?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");

html,
body {
  font-family: "Comfortaa";
  margin: 0;
  padding: 0;
}

main {
  margin-left: 2vh;
  margin-right: 2vh;
}

h1,
h3,
p {
  margin: 2vh;
  text-align: left;
  color: rgb(55, 67, 80);
}

p {
  font-size: 2vh;
  line-height: 3.5vh;
}
.panel h3,
.panel p {
  text-align: center;
  line-height: 2.8vh;
}

.panel h3 {
  color: white;
}

h3 {
  font-size: 2.8vh;
  font-weight: 900;
}

h1 {
  font-family: "Krona One";
  letter-spacing: 0.5vw;
  color: antiquewhite;
  padding-top: 20vh;
  text-align: left;
  margin: 0;
  padding-left: 3vw;
}
.logo {
  margin: 2vw;
  width: 15vh;
}

.logo:hover {
  padding-left: 1.5px;
}

.nav {
  background-color: lightgray;
  height: 6vh;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 2vw;
}

.nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.nav li a:hover {
  color: orange;
}

.nav li a:active {
  color: white;
}

header {
  background-image: url(../img/header_pic.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.intro h3 {
  margin: 5vh;
}
.panel {
  height: 35vh;
  width: 98vw;
  background-color: grey;
  position: relative;
}

.panel * {
  box-sizing: border-box;
}

.choice {
  width: 50%;
  height: 35vh;
  border: 10px white solid;
  position: absolute;
}

.panel div:nth-child(1) {
  left: 0;
}

.panel div:nth-child(2) {
  right: 0;
}

.choice a {
  position: absolute;
  top: 60%;
  left: 30%;
}
.button {
  color: white;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(255, 133, 2);
  display: inline-block;
  margin: 0 auto;
  width: 15vw;
  font-family: "comfortaa";
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
  text-align: center;
  box-shadow: 3px 3px 6px black;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  color: black;
}

table {
  width: 90%;
  border: 1px black solid;
  text-align: left;
  margin-left: 2vw;
}
tr th {
  font-weight: bolder;
  font-size: larger;
}

footer {
  position: relative;
  bottom: 0;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  margin-top: 10vh;
}

.space {
  height: 50vh;
}

.picture_page1 {
}
